* {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root {
    --wht: #fff;
    --blk1: #172317;
    --blk2: #1a1e12;
    --bv: #8a2be2;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}



.header {
    background-color: var(--blk2);
    position: fixed;
    width: 100%;
    padding: 0 100px;
    top: 0; 
    left: 0;
    z-index: 200;
}

.header .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.header .nav-container .logo {
    color:var(--wht);
    font-size: 1.35rem;
    font-weight: 600;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header .nav-container .logo span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--bv);
}

.header .nav-container span:nth-child(2) .login, .signup, .logout {
    color: var(--wht);
    padding: 5px 10px;
    border: 1.5px solid;
    border-radius: 5px;
}

.login:hover, .signup:hover, .logout:hover {
    background-color: var(--bv);
    transition: 0.3s;
}